POSTGRES_USER=etaguard
POSTGRES_PASSWORD=etaguard_pw
POSTGRES_DB=etaguard
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change_me
N8N_GENERIC_TIMEZONE=America/Los_Angeles
N8N_PORT=5678

SLACK_BOT_TOKEN=xoxb-your-token
SLACK_SLA_CHANNEL=#logistics-alerts

SERVICE_URL=http://service:8000
MYBLDR_AUTH_COOKIE=
MYBLDR_SOURCE_URL=
